.ml-auto {
  margin-left: auto;
}

.mt-7 {
  margin-top: 7rem;
}

.ps-6 {
  padding-left: 6rem;
}

.ps-lg-6 {
  @include media-breakpoint-up(lg) {
    padding-left: 6rem !important;
  }
}

.bg-grey {
  background-color: $color-grey;
}

.bg-dark {
  background-color: $color-dark !important;
}

.badge-grey {
  background-color: $color-grey;
}

.fw-500 {
  font-weight: 500 !important;
}