// GENERAL STYLES FOR SECTIONS


/////////////////////////////
// SECTION WELCOME STYLES //
////////////////////////////
.welcome {
  padding: 2rem 0;
}

/////////////////////////////
// SECTION FEATURES STYLES //
////////////////////////////
.features {
  padding: 4rem 0;

  &-box {
    text-align: center;
  }

  &-text {
    font-size: 1.05rem;
    line-height: 1.6rem;
    text-align: justify;
  }
}

/////////////////////////////
// SECTION COMPANIES STYLES //
////////////////////////////

.companies {
  padding: 4rem 0;

  &-logo {
    cursor: pointer;
  }
}

/////////////////////////////
// SECTION ABOUT STYLES //
////////////////////////////

.about {
  padding: 7rem 0;

  .card {
    border: 0;
    max-width: 22.5rem;
    transition: all .4s ease-in-out;

    &:hover {
      @include hover-lift-Y(-10px);
      @include hover-shadow(0rem 1rem 1.5rem rgba(22,28,45,.15));
    }
  }

  .form-control {
    border-color: $border-light;
  }

  ::placeholder {
    color: $border-light;
  }

  &-text {
    font-size: 1.10rem;
    line-height: 1.8rem;
  }

  &-icon {
    width: 38px;
  }
}

/////////////////////////////
// SECTION CLIENTS STYLES //
////////////////////////////

.clients {
  padding: 7rem 0;

  &-quotation {
    width: 80%;
    margin: 0 auto;
  }

  &-opinion {
    font-size: 1rem;
    line-height: 1.4rem;
    color: $font-primary;
  }
}

/////////////////////////////
// SECTION BEGIN STYLES //
////////////////////////////

.begin {
  padding: 8rem 0 7rem;
}

/////////////////////////////
// SECTION PRICING STYLES //
////////////////////////////

.pricing {
  padding-bottom: 7rem;
}

/////////////////////////////
// SECTION FAQ STYLES //
////////////////////////////

.faq {
  padding: 4rem 0 1rem 0;

  h4 {
    color: $color-light;
    font-size: 1.3rem;
  }
}


/////////////////////////////
// FOOTER STYLES //
////////////////////////////

.footer {

  &-list {
    list-style-type: none;
    padding: 0;
  }

  &-link {
    font-size: 1rem;
    text-decoration: none;
    transition: all .4s;
    
    &:hover {
      color: $primary;
    }
  }

  &-info {
    font-size: .9rem;
  }
}