// SLIDER CUSTOM STYLES

// 1. STYLES FOR CLIENTS SLIDER

.clients {

  .carousel {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid $border-light;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;

    &:hover,
    &:focus {
      opacity: unset;
    }

    @include media-breakpoint-up(sm) {
      width: 10%;
      opacity: 1;
      display: block;
    }

    @include media-breakpoint-up(md) {
      width: 6%;
      opacity: 1;
      display: block;
    }
  }

  .bi {
    opacity: .7;
    background: $color-grey;
    border-radius: 50%;
    color: $primary;
    padding: 5px;
    transition: all .3s ease-in;

    &:hover {
      opacity: 1;
      @include hover-lift-Y(-4px);
    }
  }
}