// SLIDER CUSTOM STYLES

// 1. STYLES FOR CLIENTS SLIDER

.clients {

  .carousel {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid $border-light;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 6%;
    opacity: 1;

    &:hover,
    &:focus {
      opacity: unset;
    }
  }

  .bi {
    opacity: .7;
    background: $color-grey;
    border-radius: 50%;
    color: #0d6efd;
    padding: 5px;
    transition: all .3s ease-in;

    &:hover {
      opacity: 1;
      @include hover-lift-Y(-4px);
    }
  }
}