// colors

// main colors

// font colors
$font-primary: #161c2d;
$font-secondary: #adb5bd;
$font-green: $success;
// $font-blue: 
// bg colors
$color-light: #ffffff;
$color-grey: #f2f6ff;
$color-dark: #091a2b;